TextFile_beh.prj
xilinxsim.ini
TextFile_isim_beh.exe
isim/*
fuse.log
isim.log
isim.cmd
TextFile_isim_beh.wdb
SingleCycleCPU_summary.html
SingleCycleCPU_envsettings.html
SingleCycleCPU.xst
SingleCycleCPU.lso
SingleCycleCPU.syr
*.lso
SingleCycleCPU_xst.xrpt
SingleCycleCPU.prj
webtalk_pn.xml
SingleCycleCPU.ngc
InstructionRom.ngr
SingleCycleCPU.ngr
xst/*
SingleCycleCPU.cmd_log
xst.xmsgs
SingleCycleCPU.stx
*.prj
*.stx
*.xst
*.wdb
_xmsgs/*
PC_isim_beh.exe
TextFile_beh.prj
TextFile_isim_beh.exe
TextFile_isim_beh.wdb
fuse.log
isim
isim.cmd
isim.log
xilinxsim.ini